<div id="game_<%=game.id%>" class="game">
	<p>Game hosted by: <%= game.host.team_name %></p>
	<p>Location:<a href="https://maps.googleapis.com/maps/api/staticmap?center=<%=game.field_address %>&zoom=17&size=1200x800&maptype=roadmap&key=<%=ENV['GOOGLE_MAPS_KEY']%>" target="_blank"><%=game.field_address %></a> </p>
	<p>Date: <%=game.format_date %></p>
	<% if game.traveler %>
		<p>Opponent: <%= game.traveler.team_name %></p>
	<% end %>
	
	<% if game.host.id == current_user.id && game.traveler == nil %>
		<%= button_to "Delete", game_path(game), method: :delete, class: "delete", remote: true %>
	<% end %>  

	<% if logged_in? && current_user.id != game.host_id && game.traveler_id == nil  %>
		<%= button_to "I'll Play You", game_path(game), method: :patch %>
	<% end %>
	<br>
</div>