<div class="game">
	<p>Game hosted by: <%= game.host.team_name %></p>
	<p>Location: <%= game.field_address %> </p>
	<p>Date: <%=game.format_date %></p>
	<% if game.traveler %>
		<p>Opponent: <%= game.traveler.team_name %></p>
	<% end %>
	
	<% if game.host.id == current_user.id && game.traveler == nil %>
		<%= button_to "Delete", game_path(game), method: :delete %>
	<% end %>  

	<% if logged_in? && current_user.id != game.host_id && game.traveler_id == nil  %>
		<%= button_to "I'll Play You", game_path(game), method: :patch %>
	<% end %>
	<br>
</div>