<h1>Host A Game</h1>
<%= form_with url: games_path, model: Game do |f| %>
	<div>
		<%= f.time_field :time %>
	</div>

	<div>
		<%= f.date_field :date %>
	</div>

	<div>
		<%= f.text_field :address, :placeholder => "Field Address" %>
	</div>

	<div>
		<%= f.submit "Post This Game" %>
	</div>
<% end %>