<!DOCTYPE html>
<html>
<head>
	<title>GameScheduling</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<nav>
	<%  unless request.path_info == root_path  %>
	<%= link_to "Home", root_path %>
	<% end %>
	<% if logged_in? %>
	<%= link_to "Hi, #{current_user.full_name}", user_path(current_user) %>
	<%= link_to "Available Games", games_path %>
	<%= link_to "Host a Game", new_game_path%>
	<%= button_to "Log out", session_path(current_user), method: :delete  %>

	<% else %>
	<%= link_to "Log in", new_session_path %>
	<%= link_to "Sign up", new_user_path %>
	<% end %>

</nav>

<body>
	<%= yield %>
</body>
</html>
